@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.img-blur{
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(234, 224, 200, 1));
}

@starting-style {
  opacity: 0;
}

.animaa {
  opacity: 1;
  animation: bottom 0.5s ease-in-out;
  transform: translateY(4);
  animation-delay: 200;
  animation-fill-mode: forwards; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
  /* animation-play-state: paused; */
  /* animation-timeline: scroll(block nearest); */
  /* animation-delay: calc(var(--scroll) * -3s); */
}

.animated-text {
  animation: fade-in 2s ease-in-out;
  /* animation-play-state: paused; */
  /* animation-delay: calc(var(--scroll) * 2.5s); */
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.my-element {
  animation: fade-in 1s ease-out 0.5s; /* Delay of 0.5s before 1s animation */
}