@import "tailwindcss";

:root {
  --background: #0E1421;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-col{
  background: #121A2D;
}
.secondary{
  background:#0E1421;
}
.sec-bg{
  background: #162850;
}
.text-secondery{
  color:#676B73
}
.img-bg{
  background: #742BEC;
}
